@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:  var(--light-gray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 300px;
    background-color:  var(--White);
    border-radius: 10px;
    font-family: "outfit", sans-serif;
    text-align: center;
    font-size: .875em;
}

.part-two {
    padding: 1em 1.5em;
}

h2 {
    color: var(--Dark-blue);
    font-weight: 700;
}

p {
    padding-top: 1em;
    padding-bottom: 2em;
    color: var(--Grayish-blue);
    font-weight: 400;

}
img {
    width: 100%;
    padding: .8em;
    border-radius: 8%;
   
}